DOCTYPE(html)
html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0") 
        title="Inkblot"
        
        link(rel="shortcut icon" type="image/png" href="img/favicon.png")

        //- CSS
        link(rel="stylesheet" type="text/css" href="./css/style.css")

        //- JS
        //- script(src="./js/jquery.js")
        //- script(src="./js/animations.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
        script(src="./js/script.js")

    body
        //- span.fa.fa-circle-o-notch.fa-spin.fa-3x.fa-fw
        section#home
            //- img(src="img/background.jpg")
            video#ink(autoplay)
                source(src="img/ink.mp4" type="video/mp4")

            h1 Inkblot
            h2 Where Ideas Hide
              
        section#idea-container.overview
            div#idea.img
                img(src="img/ideas.png", style="display:inline;")
            div.text
                div.title
                    img(src="img/title.png")
                    div.draw
                    h3 Think
                h4 Random thoughts pop into my head and coalesce and solidify into ideas.
        
        section#develop-container.overview
            div#develop.img
                img(src="img/develop/1.png", style="display:inline;")
                img(src="img/develop/2.png")
                img(src="img/develop/3.png")
            div.text
                div.title
                    img(src="img/title.png")
                    div.draw
                    h3 Develop
                h4 Abstract concepts brew in the back of my mind and slowly become flushed out.

        section#form-container.overview
            div#form.img
                img(src="img/form/1.png", style="display:inline;")
                img(src="img/form/2.png")
                img(src="img/form/3.png")
                img(src="img/form/4.png")
                img(src="img/form/5.png")
                img(src="img/form/6.png")
                img(src="img/form/7.png")
                img(src="img/form/8.png")
                img(src="img/form/9.png")
                img(src="img/form/10.png")
                img(src="img/form/11.png")
            div.text
                div.title
                    img(src="img/title.png")
                    div.draw
                    h3 Form
                h4 I begin building on the idea, developing it further and making it into reality.
