#home{
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  img, video{
    position: absolute;
    height: 90vh;
    width: 90vw;

    top: 10vh;
    left: 0;
    z-index: 0;
  }
  h1{
    color: white;
    font-size: 3em;
    z-index: 1;
  }
  h2{
    color: white;
    font-size: 2em;
    z-index: 1;
  }
}
