.overview{
    display: flex;
    justify-content: center;
    margin: 100px 0;

    .img{
        opacity: 0;
        height: 500px;
        width: 500px;
        margin: 0 50px;
        transition: opacity 1s ease;

        img{
            height: inherit;
            width: inherit;
            margin: 0 50px;
            display: none;
        }
    }

    .text{
        margin: 0 50px;
        width: 30vw;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .title{
            width: 100%;
            height: 80px;
            margin: 30px 0;
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;

            h3{
                position: relative;
                font-size: 2em;
                color: white;
                padding: 0 100px;

                display: inline-block;
                // background-size: contain;
                z-index: 1;
            }
            img{
                top: 0px;
                position: absolute;
                width: 100%;
                z-index: 0;
            }
            .draw{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: inherit;
                background-color: white;
                z-index: 2;

                transition: width 2s ease;

                &.drawn{
                    width: 0px;
                }
            }
        }
        h4{
            opacity: 0;
            font-size: 2em;
            transition: opacity 1s ease;
        }
    }

    &:nth-child(odd){
        flex-direction: row-reverse;
    }
}
