@import "fonts";
@import "home";
@import "overview";

body{
  margin: 0;
  width: 100%;
}
p,h1,h2,h3,h4,h5 {
  margin: 0;
}

*{
    transition: all 5s ease;
}


h1,h3{
  font-family: 'Permanent Marker';
}
h2,h4{
  font-family: 'Nothing You Could Do';
}
